  <div class="middle-container">
    <div class="center-titles">
      <input type="text" name="search_input" class="recipe-search-input" placeholder="Search Recipes"/>
    </div>
      <div class="recipe-results">
        <ul class='search-results'>
        </ul>
      </div>
  </div>





<%= javascript_include_tag "search", "data-turbolinks-track" => true %>