  <div class="middle-container">
      <input type="text" name="search_input" class="recipe-search-input" placeholder="Search Recipes"/>
      <div class="recipe-results">
        <ul class='search-results'>
        </ul>
      </div>
  </div>



<script>
  function windowH() {
   var wH = $(window).height();

   $('.middle-container').css({height: wH});
}

windowH();
</script>

<%= javascript_include_tag "search", "data-turbolinks-track" => true %>