  <div class="middle-container">
    <div class="center-titles">
    <div id="new-form">
        <h1>Add Recipe</h1>
      <%= render "form_new_recipe"%>
    </div>
  </div>
  </div>



<script>
  $(document).ready(function(){
    $('#new-form').toggle("slow");
  });
</script>