<nav>
  <ul>
    <div class='nav-right'>
      <li><%= link_to "Back", root_path %></li>
    </div>
  </ul>
</nav>
  <div class="middle-container">
    <div class="center-titles">
      <h1> A list of our Recipes</h1>

      <div class="non-user-recipe-page">
        <ul>
          <% @websiterecipes.each do |recipe| %>
          <li><%= link_to recipe.title, user_recipe_path(recipe.user_id, recipe.id) %></li>
          <hr></hr>
          <% end %>
        </ul>
      </div>
      <div class="member-message">
        <p>Become a member and get access to search features and input recipes from websites!</p>
        <p><%= link_to "Click Here to Join!", new_user_path%></p>
      </div>
    </div>
  </div>
