<nav>
  <ul>
    <div class='nav-right'>
      <li><%= link_to "Back", root_path %></li>
    </div>
  </ul>
</nav>
  <div class="middle-container">
    <div class="center-titles">

      <div class="non-user-recipe-page">
        <h1> A list of our Recipes</h1>
        <hr></hr>
        <ul>
          <% @websiterecipes.each do |recipe| %>
          <li><%= link_to recipe.title, user_recipe_path(recipe.user_id, recipe.id) %></li>
          <hr></hr>
          <% end %>
        </ul>
        
      </div>
    </div>
  </div>
<script>
  function windowH() {
   var wH = $(window).height();

   $('.middle-container').css({height: wH});
}

windowH();
</script>