<div class="center-titles">
  
  <h1>Add A Recipe</h1>

</div>
  <div id="recipe-form">
    <%= render "form_new_recipe"%>
  </div>


<script>
  $(document).ready(function(){
    $('#recipe-form').toggle("slow");
  });
</script>