
<div class="middle-container">

  <div class='center-titles'>
    <form method="GET" action="/users/<%= @user.id%>/input" />
      <input type="text" name="address_input" class="recipe-url-input" placeholder="Paste Recipe From URL"/><br />
    </form>
  </div>

  <div id="new-form">
    <h3>Add Recipe</h3>
    <%= render "form_new_recipe"%>
  </div>
</div>



<script>
function windowH() {
   var wH = $(window).height();

   $('.middle-container').css({height: wH});
}

windowH();

  $(document).ready(function(){
    $('#new-form').toggle("slow");
  });   
</script>