<div class="user-page-container">
  <div class="middle-container">
    <div class="center-titles">
      <h1> All Users</h1>

      <div class="non-user-recipe-page">
        <ul>
          <% @users.each do |user| %>
          <li><%= user.first_name %> <%= user.last_name %></li>
          <hr></hr>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>