<div class="user-page-container">
  <div class="middle-container">
    <div class="center-titles">
      <input type="text" name="address_input" class="recipe-search-input" placeholder="Paste Recipe Address Here"/>
    </div>
      <div class="recipe-information">
        <ul class='ingredient-results'>
        </ul>
        <ul class="direction-results">
        </ul>
      </div>
  </div>
</div>

