  <div class="middle-container">
    <div class="flash-message">
     <%= raw("<p>#{flash[:message]}</p>") unless flash[:message].nil? %>
   </div>

   <div class="page-left-container">
    <h3>Recispeak Books</h3>
    <ul>
      <li id="new-book-form">Add A Recipe Book</li>
      <% @books.each do |book| %>
      <li><%= link_to "#{book.title}", user_recipe_book_path(@user, book.id), class:"user-menu-buttons-books" %></li>
      <% end %>
    </ul>
  </div>
  <div class="new-book-form">
    <%= render "new_book_form" %>
  </div>
  

</div>


<script>
$(document).ready(function(){
  $(".page-left-container").hide(0).delay(10).fadeIn(500)
});

$('#new-book-form').click(function(){
  $('.new-book-form').toggle("slow");
});

</script>
