/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 *= require recispeak
 *= require welcome
 *= require recipes
 *= require user
 *= require book
 */

.nav-middle {
  padding: 10px 0px 5px 0px;
  background: rgb(40,40,40);
  text-align: center;
  z-index: 5;
}

.nav-middle li{
  display: inline;
}

.nav-middle a{
  color: white;
  font-family: palatino;
  font-size: 15px;
  padding-left: 40px;
}

.nav-middle a:hover {
  color: turquoise;
  text-decoration: none;
}

nav {
  padding: 15px;
  height: 50px;
  position: fixed;
  box-shadow: inset 0px 0px 277px 3px #000000;
  width: 100%;
  color: black;
}

nav p{
  display: inline;
}

.navlinks {
  margin-left: 5px;
  font-family: palatino;
  letter-spacing: 1.5px;
}
.navlinks a{
  color: #fff;
  text-decoration: none;
}

.navlinks a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px red;
}

.rspeaklogo {
  font-family: palatino;
  font-style: italic;
  letter-spacing: 1.5px;
  color: #fff;
  padding-right: 30px;
  text-shadow: 0px 1px 1px rgb(94,147,20);
  font-size: 20px;
  float: right;
}

nav ul li{
  display: inline;
}

nav ul{
  display: inline;
}

.nav-right {
  text-align: center;
  padding-top: 5px;
}

.nav-right a{
  color: white;
  font-family: palatino;
}

.nav-right a:hover {
  color: turquoise;
}

.nav-right img{
  height: 30px;
}