html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

nav {
  background-image: -webkit-gradient(
  linear,
  right top,
  right bottom,
  color-stop(0, #403E38),
  color-stop(0.46, #727371)
  );
  background-image: -o-linear-gradient(bottom, #403E38 0%, #727371 46%);
  background-image: -moz-linear-gradient(bottom, #403E38 0%, #727371 46%);
  background-image: -webkit-linear-gradient(bottom, #403E38 0%, #727371 46%);
  background-image: -ms-linear-gradient(bottom, #403E38 0%, #727371 46%);
  background-image: linear-gradient(to bottom, #403E38 0%, #727371 46%);
  height: 40px;
  width: 100%;
  border-bottom: 2px solid rgb(237,62,20);
}

nav ul li{
  display: inline;
  padding: 5px;
}

nav ul{
  display: inline;
}

nav a {
  list-style-type: none;
  color: white; 
}

.nav-right {
  float: right;
  padding-right: 15px;
  padding-top: 5px;
}

.nav-middle {
  text-align: center;
  color: lightgrey;
}

.page-container {
  height: 690px;
  background: url('recispeak.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

#logo-main {
  font-family: 'Allura', cursive;
  font-size: 130px;
  text-align: center;
  color: rgb(95, 147,20);
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 1);
}

#login {
  padding: 10px;
  margin-left: 40px;
  margin-top: -150px;
  color: white;
  width: 225px;
  border-radius: 10px;
  background: black;
}

#login input{
  color: black;
}

.footer-bar {
  padding: 10px;
  box-shadow: inset 0px 0px 277px 3px black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer-bar ul li{
  display: inline;
  padding: 0 10px 0 10px;
  letter-spacing: 1.5px;
}

.how-it-works{
  height: 300px;
  background: rgb(30,30,30);
}

.center-titles {
  text-align: center;
  padding: 10px;
}

.page-left-container {
  margin-top: 50px;
  width: 40%;
  margin-left: 20px;
  border: 2px solid green;
  text-align: center;
  display: inline-block;
}

.btn-danger {
  width: 200px;
}

.page-right-container {
  margin-top: 50px;
  width: 50%;
  text-align: center;
  border: 2px solid red;
  float: right;
  margin-right: 50px;
}

#edit-form {
  width: 75%;
  text-align: right;
  display: none;
}

ul li {
  list-style-type: none;
}

form input{
  width: 200px;
}

button {
  width: 200px;
}

#adding-recipe-form {
  text-align: center;
}

#recipe-form {
  display: none;
  width: 60%;
  padding: 15px;
  text-align: right;
}

#all-user-recipes {
  display: none;
}

.recipe-notes {
  text-align: center;
  margin-top: 10px;
  border: 2px solid blue;
}

