Recispeak CSS

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

@font-face {
  font-family: 'Honey Script';
  src: url('/assets/HoneyScript-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


body {
  background: rgb(45,45,45);
}

nav {
  padding: 15px;
  height: 50px;
  position: fixed;
  box-shadow: inset 0px 0px 277px 3px #000000;
  width: 100%;
  color: black;
}

nav p{
  display: inline;
}

.navlinks {
  margin-left: 5px;
  font-family: palatino;
  letter-spacing: 1.5px;
}
.navlinks a{
  color: #fff;
  text-decoration: none;
}

.navlinks a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px red;
}

.rspeaklogo {
  font-family: palatino;
  font-style: italic;
  letter-spacing: 1.5px;
  color: #fff;
  padding-right: 30px;
  text-shadow: 0px 1px 1px rgb(94,147,20);
  font-size: 20px;
  float: right;
}

nav ul li{
  display: inline;
}

nav ul{
  display: inline;
}

.nav-right {
  text-align: center;
  padding-top: 5px;
}

.nav-right a{
  color: white;
  font-family: palatino;
}

.nav-right a:hover {
  color: turquoise;
}

.nav-right img{
  height: 30px;
}

#aboutus {
  height: 750px;
  background: url("vegnotepad2.jpg") no-repeat;
  background-size: cover;
}

.user-page-container {
  background: rgb(45,45,45);
  padding: 10px;
  box-shadow: inset 0px 0px 277px 3px black;
  width: 100%;
  
}

.photo-overlay{
background: rgba(39,62,84,0.82);
overflow: hidden;
height: 100%;
z-index: 2;
}

.logo-main {
  float: right;
  margin-right: 400px;
  margin-top: 50px;
  font-family: palatino;
  font-size: 100px;
  color: white;
}

.logo-main-signup {
  text-align: center;
  font-family: 'Allura', cursive;
  font-size: 130px;
  color: white;
}

.footer-bar {
  padding: 10px;
  position: absolute;
  font-family: palatino;
  bottom: 30px;
  width: 100%;
  color: white;
  text-align: center;
}

.footer-bar ul li{
  display: inline;
  padding: 0 10px 0 10px;
  letter-spacing: 1.5px;
  font-size: 20px;
}

.footer-bar a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.footer-bar a:hover{
  color: red;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
}

.explanation {
  height: 750px;
  background: url("peppers.jpg") no-repeat;
  background-size: cover;
  border-top: 1px solid rgb(94,147,20);
  border-bottom: 1px solid rgb(94,147,20);
}

.explanation h3{
  color: white;
  text-align: center;
  font-family: palatino;
  font-style: italic;
  position: relative;
  margin-top: 75px;
  font-size: 45px;

}

.image-copy {
  display: inline-block;
}

.list{
  margin-top: 300px;
  margin-left: 75px;
  color: #000000;
  font-family: palatino;
}

.user-menu-buttons {
  box-shadow: inset 0px 0px 200px 3px black;
  border-radius: 10px;
  border: 1px solid rgb(65, 100, 0);
  color: white;
  height: 40px;
  width: 250px;
}

.user-menu-buttons-books {
  color: white;
  font-size: 15px;
  height: 50px;
  width: 250px;
}

.user-menu-buttons:hover {
  background: black;
  color: tomato;
}

.user-menu-buttons a:hover {
  color: tomato;
}

.user-menu-buttons-input {
  box-shadow: inset 0px 0px 200px 3px rgb(95, 147,20);
  border-radius: 5px;
  border: 1px solid rgb(65, 100, 0);
  color: white;
  height: 50px;
  width: 250px;
}

.user-menu-buttons-input:hover {
  background: black;
  color: tomato;
}

.user-menu-buttons-input a:hover {
  color: tomato;
}

.step{
  margin-top: 150px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 20px;
  }

.step img{
  margin-top: -75px;
  height: 60px;
  padding: 10px;
  
}

.step p{
  margin-top: 15px;
}

.center-titles {
  text-align: center;
  padding: 10px;
}

.center-titles h1 {
  color: white;
  font-family: palatino;
  letter-spacing: 1px;
  font-size: 50px;
}

.page-left-container {
  margin-left: 20px;
  width: 25%;
  box-shadow: inset 0px 200px 200px 5px rgb(40,40,40);
  color: white;
  height: 700px;
  font-family: palatino;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
}

.page-left-container h3{
  letter-spacing: 1px;
  color: white;
}

.page-left-container ul li a{
  color: white;
}

#edit-profile{
  border-top: 1px solid white;
}

.page-left-container ul li:hover {
  cursor: pointer;
  background: rgb(40,40,40);
}

.page-left-container ul li{
  border-bottom: 1px solid white;
  padding: 5px;
}

.page-left-container ul li a:hover{
  text-decoration: none;
}

.page-left-container img{
  margin-left: 10px;
  padding: 40px;
}

.btn-danger {
  width: 200px;
}

#all-website-recipes {
  display: none;
}

.page-right-container {
  float: right;
  color: white;
  font-family: palatino;
  margin-right: 450px;
  margin-top: 50px;
}

.page-right-container h1, h2{
  text-align: center;
}

.page-right-container-books {
  background: white;
  margin-top: 50px;
  height: 550px;
  overflow-y: scroll;
  width: 60%;
  border: 3px double black;
  border-radius: 10px;
  padding: 5px;
  margin-right: 20px;
  text-align: center;
  float: right;
}

.page-right-recipe-container {
  height: 400px;
  overflow-y: scroll;
  width: 35%;
  color: white;
  padding: 10px;
  padding-top: 10px;
  margin-right: 425px;
  text-align: left;
  float: right;
  font-size: 15px;
}

.page-right-recipe-container h4{
  text-decoration: underline;
} 

.page-left-recipe-container {
  width: 30%;
  height: 400px;
  color: white;
  overflow-y: scroll;
  padding: 10px;
  padding-top: 10px;
  margin-left: 20px;
  display: inline-block;
}

.page-left-recipe-container h4{
  text-decoration: underline;
} 

#edit-form {
  text-align: right;
  display: none;
}

ul li {
  list-style-type: none;
}

form input{
  width: 200px;
}

button {
  width: 200px;
}

#adding-recipe-form {
  text-align: center;
}

#recipe-form {
  display: none;
  width: 60%;
  padding: 15px;
  text-align: right;
}

#all-user-recipes {
  display: none;
  margin-right: 50px;
}
#all-user-recipes h2{
  color: white;
  text-decoration: underline;
  text-align: right;
}

#all-user-recipes a{
  color: white;
}

#all-user-recipes a:hover {
  color: turquoise;
}

#all-user-recipes ul li{
  font-size: 17px;
}

.recipe-search-input {
  background-color: white;
  color: turquoise;
  margin-top: 30px;
  width: 50%;
  margin-left: 15%;
  padding-left: 15px;
  font-size: 25px;
  border-radius: 5px;
}

.recipe-url-input {
  background-size: 5%;
  background-color: white;
  color: rgb(95, 147,20);
  margin-top: 30px;
  width: 40%;
  text-align: center;
  padding-right: 15px;
  font-size: 20px;
  border-radius: 10px;
}

.search-results {
  margin-left: 20%;
  overflow-y: scroll;
  padding-top: 1%;
}

.flash-message {
  position: absolute;
  font-size: 17px;
  padding-left: 50px;
  color: red;
  font-style: italic;
}

.new-book-form {
  display: none;
  float: right;
  margin-right: 700px;
  margin-top: 100px;
}

#new-book-form {
  margin-top: 50px;
  border-top: 1px solid white;
}

#new-book-form:hover {
  color: turquoise;
}

#new-book-form a:hover {
  color: turquoise;
}

.user-menu-buttons-add {
  background: white;
  color: rgb(95, 147,20);
  margin-left: 90px;
  width: 225px;
  border-radius: 10px;
  font-size: 17px;
  letter-spacing: 1px;
}

.page-right-recipe-container-url {
  background: white;
  height: 500px;
  overflow-y: scroll;
  width: 50%;
  border: 3px double black;
  border-radius: 10px;
  padding: 10px;
  padding-top: 30px;
  margin-right: 20px;
  text-align: center;
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.page-left-recipe-container-url {
  background: white;
  width: 45%;
  height: 500px;
  border: 3px double black;
  border-radius: 10px;
  overflow-y: scroll;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  margin-left: 20px;
  display: inline-block;
  font-weight: bold;
}

label {
  color: white;
}

.saving-recipe {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}

.form-add-recipe {
  text-align: center;
  color: white
}

.url-recipe-title {
  text-align: center;
  width: 250px;
  font-size: 18px;
  border-radius: 5px;
}

.deletebutton {
  width: 25px;
  background: transparent;
  color: white;
  font-size: 10px;
  border: transparent;
}

.deletebutton:hover {
  color: red;
}

.recipe-display {
  width: 20px;
  display: inline;
}

.recipe-titles {
  text-align: right;
}

.list-recipes-in-book {
  float: right;
  color: white;
  text-align: right;
  margin-right: 500px;
  width: 425px;
}

.list-recipes-in-book a{
  color: white;
  font-size: 16px;
}

.list-recipes-in-book a:hover{
  text-decoration: none;
  color: turquoise;
}
.user-info-edit label{
  color: white;
  letter-spacing: 1px;
}

.user-info-edit [type="file"]{
  float: right;
}

.input-site-info {
  margin-top: 10px;
  color: white;
  letter-spacing: 1px;
}

.input-site-info:hover {
  color: turquoise;
  cursor: pointer;
}

#compatible-sites {
  display: none;
  text-align: center;
  color: white;
}

#compatible-sites a{
  color: white;
} 

.close-compatible-sites {
  cursor: pointer;
}

.close-compatible-sites:hover {
  color: turquoise;
}

.non-user-recipe-page {
  margin: 0 auto;
  height: 400px;
  overflow-y: scroll;
  width: 30%;
  padding: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.non-user-recipe-page a {
  color: white;
}

.non-user-recipe-page a:hover {
  color: turquoise;
}

.non-user-recipe-page ul li {
  color: white;
}

.member-message{
  background: white;
  color: black;
  width: 60%;
  font-style: italic;
  font-size: 15px;
  margin: 30px auto;
  padding-top: 5px;
  border: 3px double black;
  border-radius: 15px;
}

.member-message a {
  color: black;
  font-size: 18px;
}

.member-message a:hover {
  color: turquoise;
  text-decoration: none;
}

.update-link {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.update-link a{
  color: white;
}

.update-link a:hover {
  color: white;
  text-decoration: none;
}

#ingredients input{
  width: 300px;
}

#steps input{
  width: 300px;
}

#recispeak-recipe-list {
  display: none;
  margin-right: 50px;
  margin-top: 50px;
}

#recispeak-recipe-list h2{
  color: white;
  text-decoration: underline;
  text-align: right;
}

#recispeak-recipe-list a{
  color: white;
}

#recispeak-recipe-list a:hover {
  color: turquoise;
}

#recispeak-recipe-list ul li{
  font-size: 17px;
}

span {
  color: black;
  font-family: Verdana;
  font-size: 20px;
}

.search-results {
  width: 600px;
  height: 600px;
  margin-left: 200px;
}

.search-results a {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.search-results a:hover {
  color: turquoise;
}



