html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

nav {
  background-image: -webkit-gradient(
  linear,
  right top,
  right bottom,
  color-stop(0, #403E38),
  color-stop(0.46, #727371)
  );
  background-image: -o-linear-gradient(bottom, #403E38 0%, #727371 46%);
  background-image: -moz-linear-gradient(bottom, #403E38 0%, #727371 46%);
  background-image: -webkit-linear-gradient(bottom, #403E38 0%, #727371 46%);
  background-image: -ms-linear-gradient(bottom, #403E38 0%, #727371 46%);
  background-image: linear-gradient(to bottom, #403E38 0%, #727371 46%);
  height: 40px;
  width: 100%;
  border-bottom: 2px solid rgb(95, 147,20);

}

nav ul li{
  display: inline;
  padding: 5px;
}

nav ul{
  display: inline;
}

nav a {
  list-style-type: none;
  color: white; 
}

.nav-right {
  float: right;
  padding-right: 15px;
  padding-top: 5px;
}

.nav-middle {
  text-align: center;
  color: lightgrey;
}

.user-page-container {
  height: 680px;
  background: rgb(50,50,50);
}

.page-container {
  height: 680px;
  background: url('recispeak.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.logo-main {
  font-family: 'Allura', cursive;
  font-size: 130px;
  text-align: center;
  color: rgb(95, 147,20);
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 1);
}

#login {
  padding: 10px;
  margin-left: 40px;
  margin-top: -150px;
  color: white;
  width: 225px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 277px 40px black;
}

#login input{
  color: black;
}

.splash-button {
  box-shadow: inset 0px 0px 200px 3px rgb(95, 147,20);
  border-radius: 5px;
}

.splash-button-signup a {
  color: white;
}

.splash-button-signup {
  border-radius: 5px;
  background:rgb(97, 147, 20);
}

.footer-bar {
  padding: 10px;
  box-shadow: inset 0px 0px 277px 3px black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer-bar ul li{
  display: inline;
  padding: 0 10px 0 10px;
  letter-spacing: 1.5px;
}

.footer-bar a {
  color: white;
}

.footer-bar a:hover {
  color: rgb(95,147,20);
  text-decoration: none;
}

.how-it-works{
  width: 75%;
  display: none;
  padding: 10px 0;
  float: right;
  margin-right: 80px;
  text-align: center;
  letter-spacing: 1px;
}

#how-it-works-link:hover {
  cursor: pointer;
  color: rgb(95,147,20);
}

.list{

  margin: 0 auto;
  color: white;
  font-size: 12px
}

.user-menu-buttons {
  box-shadow: inset 0px 0px 200px 3px rgb(95, 147,20);
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  height: 50px;
  width: 250px;
}

.step{
  box-shadow: inset 0px 0px 277px 3px rgb(95, 147,20);
  width: 20%;
  display: inline-block;
  padding: 5px;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 20px;
  }

.step img{
  margin-top: 30px;
  width: 60px;
}

.step p{
  margin-top: 15px;
}

.center-titles {
  text-align: center;
  padding: 10px;
}

.middle-container {
  background: lightgrey;
  width: 75%;
  margin: 0 auto;
  border: 2px solid rgb(95, 147,20);
  height: 600px;
  overflow-y: scroll;
}

.page-left-container {
  margin-top: 50px;
  width: 30%;
  text-align: center;
  display: inline-block;
}

.page-left-container ul li a{
  color: white;
}

.page-left-container ul li a:hover{
  text-decoration: none;
}

.btn-danger {
  width: 200px;
}

#all-website-recipes {
  display: none;
}

.page-right-container {
  background: white;
  margin-top: 50px;
  height: 500px;
  overflow-y: scroll;
  width: 60%;
  border: 3px double black;
  padding: 5px;
  margin-right: 20px;
  text-align: center;
  float: right;
}

.page-right-recipe-container {
  background: white;
  height: 200px;
  overflow-y: scroll;
  width: 60%;
  border: 3px double black;
  padding: 10px;
  padding-top: 30px;
  margin-right: 20px;
  text-align: center;
  float: right;
  font-size: 15px;
  font-weight: bold;
}

.page-left-recipe-container {
  background: white;
  width: 30%;
  height: 200px;
  border: 3px double black;
  overflow-y: scroll;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  margin-left: 20px;
  display: inline-block;
  font-weight: bold;
}

#edit-form {
  width: 100%;
  text-align: right;
  display: none;
}

#new-form {
  width: 65%;
  text-align: right;
  display: none;
}

ul li {
  list-style-type: none;
}

form input{
  width: 200px;
}

button {
  width: 200px;
}

#adding-recipe-form {
  text-align: center;
}

#recipe-form {
  display: none;
  width: 60%;
  padding: 15px;
  text-align: right;
}

#all-user-recipes {
  display: none;
}

.recipe-notes {
  text-align: center;
  background: white;
  margin-top: 30px;
  height: 200px;
  font-size: 17px;
  border-top: 3px double black;;
  border-bottom: 3px double black;;
}

.recipe-notes h3 {
  color: rgb(95, 147,20);
  text-decoration: underline;
}

.recipe-search-input {
  background: url('Search.png') no-repeat;
  background-size: 5%;
  background-color: white;
  color: rgb(95, 147,20);
  margin-top: 30px;
  width: 75%;
  text-align: right;
  padding-right: 15px;
  font-size: 25px;
  border-radius: 10px;
}

.search-results {
  margin-left: 200px;
  overflow-y: scroll;
}

.flash-message {
  position: absolute;
  font-size: 17px;
  padding-left: 50px;
  color: red;
  font-style: italic;
}