#new-form-user{
  display: none;
  color: #fff;
  padding: 10px 10px 10px 10px;
  float: right;
  border-radius: 0px 0px 5px 5px;
  box-shadow: inset 0px 45px 277px 3px #000000;
}

.page-container-2{
  background: 
  linear-gradient(
      rgba(40, 40, 40, 0.45), 
      rgba(40, 40, 40, 0.45)
    ),
  url('woodonly.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page-container-3{
  height: 40%;
  background: black;
  border-bottom: 1px solid turquoise;
}

.page-container-3 p{
  color: #fff;
  padding-top: 1%;
  text-align: center;
  font-family: palatino;
  font-size: 1.5em;
  padding-bottom:.5%;
}

#new-form-user {
  position: fixed;
  top: 7.5%;
  right: 0;
  text-align: right;
  display: none;
  color: black;
  padding: 5px;
}

#new-form-user h3 {
  color: white;
  text-decoration: underline;
}

#new-form-user [type="submit"]{
  background: rgb(40,40,40);
  color: white;
}

#new-form-user [type="submit"]:hover {
  color: turquoise;
}

.splash-button {
  background: rgb(40,40,40);
  border-radius: 5px;
  color: #fff!important;
  border: 1px solid white;
}

.splash-button:hover {
  color: turquoise!important;
  border: 1px solid #000!important;
}

#splash-button-signup {
  float: right;
  margin-right: 20px;
  font-family: palatino;
  color: #fff;
  padding: 5px;
  letter-spacing: 1px;
}

#splash-button-signup:hover {
  text-decoration: none;
  color: turquoise;
  cursor: pointer;
}

#login {
  display: none;
  color: #fff;
  position: fixed;
  right: 0;
  top: 7.5%;
  padding: 10px 10px 10px 10px;
  width: 220px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: inset 0px 45px 277px 3px #000000;
}

#login input{
  color: rgb(95,147,20);
  border-radius: 5px;
}

#login label {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 15px;
}

.page-container {
  width: 100%;
  background: url('woodtable2.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logintoggle {
  float: right;
  margin-right: 10px;
  max-width: 80px;
  border-radius: 5px;
  color: #fff;
  font-family: palatino;
  letter-spacing: 1px;
  padding: 5px;

}

.logintoggle:hover {
  cursor: pointer;
  color: turquoise;
}

.browse {
  font-family: palatino;  
  letter-spacing: 1.5px;
}

.browse a{
  color: #fff;
  text-decoration: none;
}

.browse a:hover {
  color: turquoise;
  text-decoration: none;
}

.how-to-images img{
  max-width: 100%;
}

.how-to-text {
  position: relative;
  width: 100%;
  border: 1px solid turquoise;
  z-index: 10;
}

.how-to-images {
  float: left;
  padding-left: 4%;
  padding-top: 1%;
  width: 24%;
}

.how-to-images p{
  font-family: palatino;
  font-size: 1.2em;
  color: turquoise;
}

.flash-message-login {
  position: absolute;
  font-size: 17px;
  margin: 0 auto;
  color: red;
  font-style: italic;
}

.welcome-tag {
  color: #fff;
  text-align: center;
  font-family: palatino;
  margin-top: 5%;
  text-shadow: 2px 2px 1px rgb(40, 40, 40);
}

.welcome-tag h1{
  color: #fff;
  text-decoration: none;
  font-family: "Honey Script";
  font-size: 8em;
  letter-spacing: 2px;
  width: 100%;
}

.welcome-tag h2{
  font-size: 1.5em;
  letter-spacing: 1px;
}

.social {
  padding-top: 3%;
  max-width: 100%;
  display: inline-block;
}

.pinterest {
  background: url('pinterest.png');
  background-size: cover;
  height: 50px;
  float: left;
  width: 50px;
}

.facebook {
  background: url('Facebook.png');
  background-size: cover;
  margin-left: 10px;
  height: 50px;
  float: left;
  width: 50px;
}

.twitter {
  background: url('twitter.png');
  background-size: cover;
  margin-left: 10px;
  height: 50px;
  float: left;
  width: 50px;
}

.linked {
  background: url('LinkedIn.png');
  background-size: cover;
  margin-left: 10px;
  float: left;
  height: 50px;
  width: 50px;
}

.pinterest:hover {
  background: url('Pinterest_hover.png');
  background-size: cover;
  height: 50px;
  float: left;
  width: 50px;
  cursor: pointer;
}

.facebook:hover {
  background: url('Facebook_hover.png');
  background-size: cover;
  margin-left: 10px;
  height: 50px;
  float: left;
  width: 50px;
  cursor: pointer;
}

.twitter:hover {
  background: url('Twitter_hover.png');
  background-size: cover;
  margin-left: 10px;
  height: 50px;
  float: left;
  width: 50px;
  cursor: pointer;
}

.linked:hover {
  background: url('LinkedIn_hover.png');
  background-size: cover;
  margin-left: 10px;
  float: left;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
