
nav {
  background: grey;
}

nav ul li{
  display: inline;
  padding: 5px;
}

nav ul{
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
}

.nav-right {
  float: right;
  margin-top: -10px;
  padding-right: 15px;
}

.nav-middle {
  text-align: center;
}

#logo {
  text-align: center;
}

.center-titles {
  text-align: center;
  padding: 10px;
}

.page-left-container {
  width: 40%;
  margin-left: 20px;
  border: 2px solid green;
  text-align: center;
  display: inline-block;
}

.page-right-container {
  width: 50%;
  text-align: center;
  border: 2px solid red;
  float: right;
  margin-right: 50px;
}

#edit-form {
  width: 75%;
  text-align: right;
  display: none;
}

ul li{
  list-style-type: none;
}

form input{
  width: 200px;
}

button {
  width: 200px;
}

#adding-recipe-form {
  text-align: center;
}

#recipe-form {
  display: none;
  width: 60%;
  padding: 15px;
  text-align: right;
}

#all-user-recipes {
  display: none;
}

.recipe-notes {
  text-align: center;
}

