
nav ul li{
  display: inline;
}
.center-titles {
  text-align: center;
}

.page-left-container {
  width: 40%;
  margin-left: 20px;
  border: 2px solid green;
  text-align: center;
  display: inline-block;
}

.page-right-container {
  width: 50%;
  text-align: center;
  border: 2px solid red;
  float: right;
  margin-right: 50px;
}

#edit-form {
  width: 75%;
  text-align: right;
  display: none;
}

ul li{
  list-style-type: none;
}

form input{
  width: 200px;
}

button {
  width: 200px;
}

#adding-recipe-form {
  text-align: center;
}

#recipe-form {
  display: none;
  width: 75%;
  padding: 15px;
  text-align: right;
}

#ingredient-form {
  display: none;
}

#step-form {
  display: none;
}


